/*! Place your custom styles here */

.bar .logo {

    max-height: 6.8em;
    max-width: none;

}
a.menu{
	font-weight: bold !important;
	color: #F1E979 !important;
	opacity: 1 !important;
}
div.index_elements{
	margin-top: 6.143em !important;
}
section.cla_val{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
img.clients{
	height: 155px;
	width: 250px;
}
section.clients_section{
	padding-top: 1.429em !important;
	padding-bottom: 3.429em !important;
}
section.banner{
	padding-top: 10.857em !important;
	padding-bottom: 10.857em !important;
}
section.about{
	padding-top: 1.429em;
	padding-bottom: 2.429em;
}
img.logo{
	margin: -17px 0 -8px 0 !important;
}
ul.menu-horizontal{
	margin: 15px 0 10px 0 !important;
}
p.lead{
	font-size: 14px;
line-height: 25px;
text-align: justify;
}
section.index_section{
	padding-top: 3.429em !important;
	padding-bottom: 3.429em !important;
}
h3.cla_val{
	margin-bottom: 10px;
	font-weight: bold;
}
section.second_index{
	padding-bottom: 2.429em !important;
}
h1.cla_val{
	font-weight: bold;
}